

#header {
    text-align: center;
    color: red;
    font-family: 'Poppins', sans-serif;
    background: lightseagreen;
}

#search {
    background: seagreen;
    padding: 10px;
}

#buttonSpace {
    background: black;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    padding-bottom: 30px;
}

#gifs {
    background: black;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
}

.movieName {
    color: red;
    background: lightseagreen;
    margin: 9px;
    /* font-family: 'Poppins', sans-serif; */
}